In [49]:
import pandas as pd
import numpy as np
import os

In [170]:
# os.listdir('data/2022-12-04/DQN')

In [50]:
# Create timestamp column corresponding to tick column
from datetime import datetime, timedelta

# start_timestamp = ("01/08/22 00:00:00+1000", '%d/%m/%y %H:%M:%S%z') # KEEP
def datetime_range(start, end, delta):
    current = start
    while current < end:
        yield current
        current += delta

In [10]:
# print(len(df.time_x)) # 5 minute periods
# print(len(df.time_x) * 5) # minutes
# print((len(df.time_x) * 5) / 60) # hours
# print(((len(df.time_x) * 5) / 60) / 24) # days

2880
14400
240.0
10.0

In [11]:
# os.listdir('data/2022-12-04/DQN')

['DD04108401266_results_array.csv',
 'DD04108624381_results_array.csv',
 'DD04108624683_results_array.csv',
 'DD04108625556_results_array.csv',
 'DD04108627065_results_array.csv',
 'DD04108627645_results_array.csv',
 'DD04108746744_results_array.csv',
 'DD04108747038_results_array.csv',
 'DD14108624198_results_array.csv',
 'DD14108624638_results_array.csv',
 'DD14108625517_results_array.csv',
 'DD14108626161_results_array.csv',
 'DD14108747277_results_array.csv',
 'DD24108396973_results_array.csv',
 'DD24108397380_results_array.csv',
 'DD24108411689_results_array.csv',
 'DD24108625051_results_array.csv',
 'DD24108626539_results_array.csv',
 'DD24108628289_results_array.csv',
 'DD24108747257_results_array.csv',
 'DD24108747526_results_array.csv',
 'DD34108397148_results_array.csv',
 'DD34108399074_results_array.csv',
 'DD34108624640_results_array.csv',
 'DD34108625629_results_array.csv',
 'DD34108625630_results_array.csv',
 'DD34108626977_results_array.csv',
 'DD34108627045_results_array.csv',
 'DD34108628335_results_array.csv',
 'DD34108744929_results_array.csv',
 'DD34108747528_results_array.csv',
 'DD34108848768_results_array.csv',
 'DD44108397240_results_array.csv',
 'DD44108398872_results_array.csv',
 'DD44108399262_results_array.csv',
 'DD44108411547_results_array.csv',
 'DD44108624400_results_array.csv',
 'DD44108624580_results_array.csv',
 'DD44108625545_results_array.csv',
 'DD44108625594_results_array.csv',
 'DD44108625704_results_array.csv',
 'DD44108744903_results_array.csv',
 'DD44108746880_results_array.csv',
 'DD44108746900_results_array.csv',
 'DD44108746987_results_array.csv',
 'DD44108747374_results_array.csv',
 'DD44108747529_results_array.csv',
 'DD44108847037_results_array.csv',
 'DD44108853265_results_array.csv',
 'DD54108225423_results_array.csv',
 'DD54108262430_results_array.csv',
 'DD54108397703_results_array.csv',
 'DD54108401684_results_array.csv',
 'DD54108411825_results_array.csv',
 'DD54108626116_results_array.csv',
 'DD54108628224_results_array.csv',
 'DD54108746822_results_array.csv',
 'DD54108746925_results_array.csv',
 'DD54108847205_results_array.csv',
 'DD64108397079_results_array.csv',
 'DD64108397167_results_array.csv',
 'DD64108397465_results_array.csv',
 'DD64108399284_results_array.csv',
 'DD64108401501_results_array.csv',
 'DD64108624151_results_array.csv',
 'DD64108626772_results_array.csv',
 'DD64108742682_results_array.csv',
 'DD64108744906_results_array.csv',
 'DD64108846336_results_array.csv',
 'DD74108396921_results_array.csv',
 'DD74108401113_results_array.csv',
 'DD74108410382_results_array.csv',
 'DD74108411769_results_array.csv',
 'DD74108744911_results_array.csv',
 'DD74108746871_results_array.csv',
 'DD74108746939_results_array.csv',
 'DD74108747039_results_array.csv',
 'DD74108848762_results_array.csv',
 'DD84108188826_results_array.csv',
 'DD84108396707_results_array.csv',
 'DD84108399040_results_array.csv',
 'DD84108399233_results_array.csv',
 'DD84108399362_results_array.csv',
 'DD84108624610_results_array.csv',
 'DD94108397047_results_array.csv',
 'DD94108411897_results_array.csv',
 'DD94108624202_results_array.csv',
 'DD94108624635_results_array.csv',
 'DD94108624680_results_array.csv',
 'DD94108626233_results_array.csv',
 'DD94108746433_results_array.csv',
 'DD94108746922_results_array.csv',
 'DD94108747299_results_array.csv',
 'DD94108747364_results_array.csv',
 'DDA4108397214_results_array.csv',
 'DDA4108411830_results_array.csv',
 'DDA4108625523_results_array.csv',
 'DDA4108746784_results_array.csv',
 'DDA4108746853_results_array.csv',
 'DDA4108747029_results_array.csv',
 'DDA4108747030_results_array.csv',
 'DDB4108261489_results_array.csv',
 'DDB4108397026_results_array.csv',
 'DDB4108397228_results_array.csv',
 'DDB4108399238_results_array.csv',
 'DDB4108399277_results_array.csv',
 'DDB4108624595_results_array.csv',
 'DDB4108624630_results_array.csv',
 'DDB4108625708_results_array.csv',
 'DDB4108626367_results_array.csv',
 'DDB4108743355_results_array.csv',
 'DDB4108747305_results_array.csv',
 'DDC4108407073_results_array.csv',
 'DDC4108409826_results_array.csv',
 'DDC4108624172_results_array.csv',
 'DDC4108625658_results_array.csv',
 'DDC4108625710_results_array.csv',
 'DDC4108625891_results_array.csv',
 'DDC4108626261_results_array.csv',
 'DDC4108746813_results_array.csv',
 'DDC4108747255_results_array.csv',
 'DDD4108225405_results_array.csv',
 'DDD4108397463_results_array.csv',
 'DDD4108400047_results_array.csv',
 'DDD4108401220_results_array.csv',
 'DDD4108401239_results_array.csv',
 'DDD4108401690_results_array.csv',
 'DDD4108411828_results_array.csv',
 'DDD4108626315_results_array.csv',
 'DDD4108626580_results_array.csv',
 'DDD4108627802_results_array.csv',
 'DDD4108746420_results_array.csv',
 'DDD4108747313_results_array.csv',
 'DDE4108397158_results_array.csv',
 'DDE4108397189_results_array.csv',
 'DDE4108400925_results_array.csv',
 'DDE4108411773_results_array.csv',
 'DDE4108626592_results_array.csv',
 'DDE4108627067_results_array.csv',
 'DDE4108628246_results_array.csv',
 'DDF4108181429_results_array.csv',
 'DDF4108397100_results_array.csv',
 'DDF4108397389_results_array.csv',
 'DDF4108625682_results_array.csv',
 'DDF4108744937_results_array.csv',
 'DDF4108747359_results_array.csv',
 'ED055CC184C2A_results_array.csv',
 'ED855CC1AF620_results_array.csv',
 'EDA55CC1AF4FA_results_array.csv',
 'EDB55CC1AF417_results_array.csv']

In [171]:
# Collect all the dfs in a single list
df_DQN_list = []
for fp in os.listdir('data/2022-12-04/DQN'):
    df = pd.read_csv('data/2022-12-04/DQN/'+fp)
    # find final timestamp
    last_timestamp = datetime(2022, 8, 1, 0+10) + len(df)*timedelta(minutes=5)

    dts = [dt.strftime('%Y-%m-%d T%H:%M Z') for dt in 
           datetime_range(datetime(2022, 8, 1, 0+10), last_timestamp, 
           timedelta(minutes=5))]
    
    df["timestamp"] = dts # add timestamp column
    df_DQN_list.append(df)
    
# Concat all the DFs into one...
df_DQN_concat = pd.concat(df_DQN_list)
# df_DQN_concat = pd.DataFrame()
# for df in df_DQN_list:
#     df_DQN_concat = pd.concat([df_DQN_concat, df])
    
df_DQN_concat # export this after anonymize & scramble

,index,Datetime,Timestamp,time_x,time_y,weekday,month_x,month_y,region_1,region_2,...,cumulative_reward,no_solar_cumulative_reward,no_battery_cumulative_reward,sq_cumulative_reward,sq_soc,sq_net,sq_updated_action,sq_bat_output,device_id,timestamp
0,0,2022-08-01 00:00:00+10:00,1659276000,1.000000,0.000000,0.0,-0.5,-0.866025,1.0,0.0,...,-0.004039,-0.004039,-0.004039,-0.004039,1.000000,0.02328,0.000000,0.00000,DD04108401266,2022-08-01 T10:00 Z
1,1,2022-08-01 00:05:00+10:00,1659276300,0.999762,0.021815,0.0,-0.5,-0.866025,1.0,0.0,...,0.003606,-0.007448,-0.007448,-0.004039,0.998521,0.00000,-0.047160,-0.01965,DD04108401266,2022-08-01 T10:05 Z
2,2,2022-08-01 00:10:00+10:00,1659276600,0.999048,0.043619,0.0,-0.5,-0.866025,1.0,0.0,...,0.011266,-0.010807,-0.010807,-0.004039,0.997063,0.00000,-0.046464,-0.01936,DD04108401266,2022-08-01 T10:10 Z
3,3,2022-08-01 00:15:00+10:00,1659276900,0.997859,0.065403,0.0,-0.5,-0.866025,1.0,0.0,...,0.018924,-0.014173,-0.014173,-0.004039,0.995602,0.00000,-0.046560,-0.01940,DD04108401266,2022-08-01 T10:15 Z
4,4,2022-08-01 00:20:00+10:00,1659277200,0.996195,0.087156,0.0,-0.5,-0.866025,1.0,0.0,...,0.026586,-0.017524,-0.017524,-0.004039,0.994148,0.00000,-0.046344,-0.01931,DD04108401266,2022-08-01 T10:20 Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20406,20406,2022-10-10 21:30:00+11:00,1665397800,0.793353,-0.608761,0.0,0.5,-0.866025,0.0,0.0,...,-36.087331,-137.322882,-23.231263,44.742999,0.917251,0.00000,-0.046872,-0.01953,EDB55CC1AF417,2022-10-11 T06:30 Z
20407,20407,2022-10-10 21:35:00+11:00,1665398100,0.806445,-0.591310,0.0,0.5,-0.866025,0.0,0.0,...,-36.095181,-137.330732,-23.239113,44.742999,0.915169,0.00000,-0.066360,-0.02765,EDB55CC1AF417,2022-10-11 T06:35 Z
20408,20408,2022-10-10 21:40:00+11:00,1665398400,0.819152,-0.573576,0.0,0.5,-0.866025,0.0,0.0,...,-36.104030,-137.339581,-23.247962,44.742999,0.912821,0.00000,-0.074808,-0.03117,EDB55CC1AF417,2022-10-11 T06:40 Z
20409,20409,2022-10-10 21:45:00+11:00,1665398700,0.831470,-0.555570,0.0,0.5,-0.866025,0.0,0.0,...,-36.112927,-137.348479,-23.256859,44.742999,0.910461,0.00000,-0.075216,-0.03134,EDB55CC1AF417,2022-10-11 T06:45 Z
20410,20410,2022-10-10 21:50:00+11:00,1665399000,0.843391,-0.537300,0.0,0.5,-0.866025,0.0,0.0,...,-36.119911,-137.355463,-23.263843,44.742999,0.908608,0.00000,-0.059040,-0.02460,EDB55CC1AF417,2022-10-11 T06:50 Z

In [172]:
# Collect all the dfs in a single list
df_SAC_list = []
for fp in os.listdir('data/2022-12-04/SAC/')[1:]:
    df = pd.read_csv('data/2022-12-04/SAC/'+fp)
    # find final timestamp
    last_timestamp = datetime(2022, 8, 1, 0+10) + len(df)*timedelta(minutes=5)

    dts = [dt.strftime('%Y-%m-%d T%H:%M Z') for dt in 
           datetime_range(datetime(2022, 8, 1, 0+10), last_timestamp, 
           timedelta(minutes=5))]
    
    df["timestamp"] = dts # add timestamp column
    df_SAC_list.append(df)
    
# Concat all the DFs into one...
df_SAC_concat = pd.concat(df_SAC_list)
# for df in df_SAC_list:
#     df_SAC_concat = pd.concat([df_SAC_concat, df])
    
df_SAC_concat # export this after anonymize & scramble

,index,Datetime,Timestamp,time_x,time_y,weekday,month_x,month_y,region_1,region_2,...,cumulative_reward,no_solar_cumulative_reward,no_battery_cumulative_reward,sq_cumulative_reward,sq_soc,sq_net,sq_updated_action,sq_bat_output,device_id,timestamp
0,0,2022-08-01 00:00:00+10:00,1659276000,1.000000,0.000000,0.0,-0.5,-0.866025,0.0,0.0,...,-0.000501,-0.000501,-0.000501,-0.000501,1.000000,0.00305,0.000000,0.00000,DD04108624381,2022-08-01 T10:00 Z
1,1,2022-08-01 00:05:00+10:00,1659276300,0.999762,0.021815,0.0,-0.5,-0.866025,0.0,0.0,...,-0.000501,-0.001000,-0.001000,-0.000501,0.999771,0.00000,-0.007296,-0.00304,DD04108624381,2022-08-01 T10:05 Z
2,2,2022-08-01 00:10:00+10:00,1659276600,0.999048,0.043619,0.0,-0.5,-0.866025,0.0,0.0,...,-0.001011,-0.001511,-0.001511,-0.000501,0.999537,0.00000,-0.007464,-0.00311,DD04108624381,2022-08-01 T10:10 Z
3,3,2022-08-01 00:15:00+10:00,1659276900,0.997859,0.065403,0.0,-0.5,-0.866025,0.0,0.0,...,-0.001530,-0.002030,-0.002030,-0.000501,0.999299,0.00000,-0.007584,-0.00316,DD04108624381,2022-08-01 T10:15 Z
4,4,2022-08-01 00:20:00+10:00,1659277200,0.996195,0.087156,0.0,-0.5,-0.866025,0.0,0.0,...,-0.001781,-0.002530,-0.002530,-0.000501,0.999069,0.00000,-0.007320,-0.00305,DD04108624381,2022-08-01 T10:20 Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20406,20406,2022-10-10 21:30:00+11:00,1665397800,0.793353,-0.608761,0.0,0.5,-0.866025,0.0,0.0,...,-17.247700,-137.322882,-23.231263,44.742999,0.917251,0.00000,-0.046872,-0.01953,EDB55CC1AF417,2022-10-11 T06:30 Z
20407,20407,2022-10-10 21:35:00+11:00,1665398100,0.806445,-0.591310,0.0,0.5,-0.866025,0.0,0.0,...,-17.251625,-137.330732,-23.239113,44.742999,0.915169,0.00000,-0.066360,-0.02765,EDB55CC1AF417,2022-10-11 T06:35 Z
20408,20408,2022-10-10 21:40:00+11:00,1665398400,0.819152,-0.573576,0.0,0.5,-0.866025,0.0,0.0,...,-17.256050,-137.339581,-23.247962,44.742999,0.912821,0.00000,-0.074808,-0.03117,EDB55CC1AF417,2022-10-11 T06:40 Z
20409,20409,2022-10-10 21:45:00+11:00,1665398700,0.831470,-0.555570,0.0,0.5,-0.866025,0.0,0.0,...,-17.260498,-137.348479,-23.256859,44.742999,0.910461,0.00000,-0.075216,-0.03134,EDB55CC1AF417,2022-10-11 T06:45 Z
20410,20410,2022-10-10 21:50:00+11:00,1665399000,0.843391,-0.537300,0.0,0.5,-0.866025,0.0,0.0,...,-17.263990,-137.355463,-23.263843,44.742999,0.908608,0.00000,-0.059040,-0.02460,EDB55CC1AF417,2022-10-11 T06:50 Z

In [175]:
# Collect all the dfs in a single list
df_SACM_list = []
for fp in os.listdir('data/2022-12-04/SAC_MODIFIED/'):
    df = pd.read_csv('data/2022-12-04/SAC_MODIFIED/'+fp)
    # find final timestamp
    last_timestamp = datetime(2022, 8, 1, 0+10) + len(df)*timedelta(minutes=5)

    dts = [dt.strftime('%Y-%m-%d T%H:%M Z') for dt in 
           datetime_range(datetime(2022, 8, 1, 0+10), last_timestamp, 
           timedelta(minutes=5))]
    
    df["timestamp"] = dts # add timestamp column
    df_SACM_list.append(df)
    
# Concat all the DFs into one...
df_SACM_concat = pd.concat(df_SACM_list)
    
df_SACM_concat # export this after anonymize & scramble

,index,Datetime,Timestamp,time_x,time_y,weekday,month_x,month_y,region_1,region_2,...,cumulative_reward,no_solar_cumulative_reward,no_battery_cumulative_reward,sq_cumulative_reward,sq_soc,sq_net,sq_updated_action,sq_bat_output,device_id,timestamp
0,0,2022-08-01 00:00:00+10:00,1659276000,1.000000,0.000000,0.0,-5.000000e-01,-0.866025,1.0,0.0,...,-0.000336,-0.000336,-0.000336,-0.000336,1.000000,0.02328,0.000000,0.00000,DD04108401266,2022-08-01 T10:00 Z
1,1,2022-08-01 00:05:00+10:00,1659276300,0.999762,0.021815,0.0,-5.000000e-01,-0.866025,1.0,0.0,...,-0.000480,-0.000480,-0.000480,-0.000336,0.998521,0.00000,-0.047160,-0.01965,DD04108401266,2022-08-01 T10:05 Z
2,2,2022-08-01 00:10:00+10:00,1659276600,0.999048,0.043619,0.0,-5.000000e-01,-0.866025,1.0,0.0,...,-0.000621,-0.000621,-0.000621,-0.000336,0.997063,0.00000,-0.046464,-0.01936,DD04108401266,2022-08-01 T10:10 Z
3,3,2022-08-01 00:15:00+10:00,1659276900,0.997859,0.065403,0.0,-5.000000e-01,-0.866025,1.0,0.0,...,-0.000763,-0.000763,-0.000763,-0.000336,0.995602,0.00000,-0.046560,-0.01940,DD04108401266,2022-08-01 T10:15 Z
4,4,2022-08-01 00:20:00+10:00,1659277200,0.996195,0.087156,0.0,-5.000000e-01,-0.866025,1.0,0.0,...,-0.000854,-0.000854,-0.000854,-0.000336,0.994148,0.00000,-0.046344,-0.01931,DD04108401266,2022-08-01 T10:20 Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8924,8924,2022-08-31 23:40:00+10:00,1661953200,0.996195,-0.087156,0.0,-5.000000e-01,-0.866025,0.0,0.0,...,1.528990,-3.701131,1.537856,2.890149,0.822767,0.00000,-0.033264,-0.01386,EDB55CC1AF417,2022-09-01 T09:40 Z
8925,8925,2022-08-31 23:45:00+10:00,1661953500,0.997859,-0.065403,0.0,-5.000000e-01,-0.866025,0.0,0.0,...,1.528897,-3.701224,1.537762,2.890149,0.822309,0.00000,-0.014592,-0.00608,EDB55CC1AF417,2022-09-01 T09:45 Z
8926,8926,2022-08-31 23:50:00+10:00,1661953800,0.999048,-0.043619,0.0,-5.000000e-01,-0.866025,0.0,0.0,...,1.528728,-3.701394,1.537593,2.890149,0.821473,0.00000,-0.026640,-0.01110,EDB55CC1AF417,2022-09-01 T09:50 Z
8927,8927,2022-08-31 23:55:00+10:00,1661954100,0.999762,-0.021815,0.0,-5.000000e-01,-0.866025,0.0,0.0,...,1.528519,-3.701602,1.537384,2.890149,0.820485,0.00000,-0.031488,-0.01312,EDB55CC1AF417,2022-09-01 T09:55 Z
8928,8928,2022-09-01 00:00:00+10:00,1661954400,1.000000,0.000000,0.0,-1.836970e-16,-1.000000,0.0,0.0,...,1.528288,-3.701834,1.537153,2.890149,0.819283,0.00000,-0.038304,-0.01596,EDB55CC1AF417,2022-09-01 T10:00 Z

In [176]:
df_SACM_concat.Datetime

0       2022-08-01 00:00:00+10:00
1       2022-08-01 00:05:00+10:00
2       2022-08-01 00:10:00+10:00
3       2022-08-01 00:15:00+10:00
4       2022-08-01 00:20:00+10:00
                  ...
8924    2022-08-31 23:40:00+10:00
8925    2022-08-31 23:45:00+10:00
8926    2022-08-31 23:50:00+10:00
8927    2022-08-31 23:55:00+10:00
8928    2022-09-01 00:00:00+10:00
Name: Datetime, Length: 1339350, dtype: object

In [174]:
df_SACM_concat

Empty DataFrame
Columns: []
Index: []

In [63]:
####### ANONYMIZATION AND SCRAMBLING, 2022-12-04 DQN & SAC DATA #######
current_device_id_array = df_DQN_concat['device_id'].unique()
new_device_id_array = np.array(range(1, len(df_DQN_concat['device_id'].unique())+1))

# Create dictionary to map the first time (anonymize)
device_dict = dict(zip(current_device_id_array, new_device_id_array))

# Anonymize
df_DQN_concat.replace(device_dict, inplace=True)
df_SAC_concat.replace(device_dict, inplace=True)

In [53]:
# Create a dictionary to map the second time (scramble)
# See: https://numpy.org/doc/stable/reference/random/generated/numpy.random.Generator.choice.html#numpy.random.Generator.choice
from numpy.random import default_rng

rng = default_rng()
numbers = rng.choice(len(df_DQN_concat['device_id'].unique()))
scrambled_device_ids = rng.choice(len(new_device_id_array), size=len(new_device_id_array), replace=False)
new_device_dict = dict(zip(device_dict.values(), scrambled_device_ids))

# Scramble
df_DQN_concat.replace(new_device_dict, inplace=True)
df_SAC_concat.replace(new_device_dict, inplace=True)

,index,Datetime,Timestamp,time_x,time_y,weekday,month_x,month_y,region_1,region_2,...,cumulative_reward,no_solar_cumulative_reward,no_battery_cumulative_reward,sq_cumulative_reward,sq_soc,sq_net,sq_updated_action,sq_bat_output,device_id,timestamp
0,0,2022-08-01 00:00:00+10:00,1659276000,1.000000,0.000000,0.0,-0.5,-0.866025,1.0,0.0,...,-0.004039,-0.004039,-0.004039,-0.004039,1.000000,0.02328,0.000000,0.00000,DD04108401266,2022-08-01 T10:00 Z
1,1,2022-08-01 00:05:00+10:00,1659276300,0.999762,0.021815,0.0,-0.5,-0.866025,1.0,0.0,...,0.003606,-0.007448,-0.007448,-0.004039,0.998521,0.00000,-0.047160,-0.01965,DD04108401266,2022-08-01 T10:05 Z
2,2,2022-08-01 00:10:00+10:00,1659276600,0.999048,0.043619,0.0,-0.5,-0.866025,1.0,0.0,...,0.011266,-0.010807,-0.010807,-0.004039,0.997063,0.00000,-0.046464,-0.01936,DD04108401266,2022-08-01 T10:10 Z
3,3,2022-08-01 00:15:00+10:00,1659276900,0.997859,0.065403,0.0,-0.5,-0.866025,1.0,0.0,...,0.018924,-0.014173,-0.014173,-0.004039,0.995602,0.00000,-0.046560,-0.01940,DD04108401266,2022-08-01 T10:15 Z
4,4,2022-08-01 00:20:00+10:00,1659277200,0.996195,0.087156,0.0,-0.5,-0.866025,1.0,0.0,...,0.026586,-0.017524,-0.017524,-0.004039,0.994148,0.00000,-0.046344,-0.01931,DD04108401266,2022-08-01 T10:20 Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20406,20406,2022-10-10 21:30:00+11:00,1665397800,0.793353,-0.608761,0.0,0.5,-0.866025,0.0,0.0,...,-36.087331,-137.322882,-23.231263,44.742999,0.917251,0.00000,-0.046872,-0.01953,EDB55CC1AF417,2022-10-11 T06:30 Z
20407,20407,2022-10-10 21:35:00+11:00,1665398100,0.806445,-0.591310,0.0,0.5,-0.866025,0.0,0.0,...,-36.095181,-137.330732,-23.239113,44.742999,0.915169,0.00000,-0.066360,-0.02765,EDB55CC1AF417,2022-10-11 T06:35 Z
20408,20408,2022-10-10 21:40:00+11:00,1665398400,0.819152,-0.573576,0.0,0.5,-0.866025,0.0,0.0,...,-36.104030,-137.339581,-23.247962,44.742999,0.912821,0.00000,-0.074808,-0.03117,EDB55CC1AF417,2022-10-11 T06:40 Z
20409,20409,2022-10-10 21:45:00+11:00,1665398700,0.831470,-0.555570,0.0,0.5,-0.866025,0.0,0.0,...,-36.112927,-137.348479,-23.256859,44.742999,0.910461,0.00000,-0.075216,-0.03134,EDB55CC1AF417,2022-10-11 T06:45 Z
20410,20410,2022-10-10 21:50:00+11:00,1665399000,0.843391,-0.537300,0.0,0.5,-0.866025,0.0,0.0,...,-36.119911,-137.355463,-23.263843,44.742999,0.908608,0.00000,-0.059040,-0.02460,EDB55CC1AF417,2022-10-11 T06:50 Z

In [23]:
# Get reverse dictionaries to map back
device_dict_reverse = dict((v,k ) for k, v in device_dict.items())
# device_dict_reverse

new_device_dict_reverse = dict((v,k) for k,v in new_device_dict.items())
# new_device_dict_reverse

In [119]:
# the following devices outperformed
# 46 (tied), 
# 85 (in some periods),
# 137 (tie)
# 143 (tie)


# THESE ARE NOW OLD
# device_outperform = [3, 9, 10, 13, 14, 16, 19, 28, 30, 31, 32, 33, 38, 40, 50, 51, 52, 53, 
#                      56, 60, 61, 66, 67, 69, 70, 72, 75, 89, 96, 104, 109, 113, 120, 124, 
#                      126, 128, 131, 132, 135, 138, 140, 142]

# device_tie = [46, 85, 137, 143]

In [124]:
# Get original Devices of those that outperformed
# new_device_dict_reverse
outperform_map1 = [new_device_dict_reverse[i] for i in device_outperform]
# outperform_map1

outperform_map2 = [device_dict_reverse[i] for i in outperform_map1]
# outperform_map2

['DDC4108625710',
 'DDB4108626367',
 'DD14108625517',
 'DDF4108181429',
 'DDA4108746784',
 'ED855CC1AF620',
 'DD44108398872',
 'DDF4108747359',
 'DD64108626772',
 'DD74108848762',
 'DDB4108261489',
 'DD24108628289',
 'DD44108746900',
 'DD44108847037',
 'DD44108625545',
 'DD34108626977',
 'DD94108397047',
 'DD44108853265',
 'DD64108397079',
 'DD44108747529',
 'DD54108746925',
 'DDC4108625658',
 'DD64108401501',
 'DD24108747526',
 'DD54108746822',
 'DDC4108407073',
 'DD04108747038',
 'DDC4108626261',
 'DD24108747257',
 'DDD4108747313',
 'DD54108397703',
 'DD94108746433',
 'DDB4108399238',
 'DD44108746880',
 'DDD4108746420',
 'DD94108746922',
 'DD04108624683',
 'DDB4108747305',
 'DD34108399074',
 'DDD4108401239',
 'DDE4108628246',
 'DD34108744929']

In [125]:
# Get original device ids for those that tied
# device_tie = [46, 85, 137, 143]
tie_map1 = [new_device_dict_reverse[i] for i in device_tie]
# outperform_map1

tie_map2 = [device_dict_reverse[i] for i in tie_map1]
# outperform_map2

['DD64108742682', 'DDF4108397100', 'DD34108747528', 'DD74108401113']

In [42]:
# Drop the last day so we don't get that jagged spike in the visualization later
df_test_concat['Datetime'].iloc[0]

'2022-06-14 10:45:00+10:00'

In [102]:
def get_shortened_df_list(df_concat):
    shortened_df_list = []
    
    for device_id in df_concat.device_id.unique():
        ith_df = df_concat[df_concat["device_id"] == device_id].copy()

        last_datetime = pd.to_datetime(ith_df.Datetime.tail(1).iloc[0])
        last_day = (last_datetime.year, last_datetime.month, last_datetime.day)

        # day
        temp_df = ith_df
        day_list = []

        for timestamp in ith_df.Datetime:
            current_datetime = pd.to_datetime(timestamp)
            current_day = (current_datetime.year, current_datetime.month, current_datetime.day)
            day_list.append(current_day)

        ith_df['day'] = day_list

        # bool remove the last day
        omit_last_day_bool = ith_df['day'] != last_day
        ith_shortened_df = ith_df[omit_last_day_bool]

        shortened_df_list.append(ith_shortened_df) 
        
        print("Completed: ", device_id)
        
    return shortened_df_list

In [103]:
# This chops off the last, shortest day with unbalanced average
DQN_shortened_list = get_shortened_df_list(df_DQN_concat)
SAC_shortened_list = get_shortened_df_list(df_SAC_concat)
df_SAC_concat_export = pd.concat(SAC_shortened_list)

In [104]:
df_DQN_concat_export = pd.concat(DQN_shortened_list)
df_SAC_concat_export = pd.concat(SAC_shortened_list)

In [164]:
pd.to_datetime(df_DQN_concat_export.Datetime)

0        2022-08-01 00:00:00+10:00
1        2022-08-01 00:05:00+10:00
2        2022-08-01 00:10:00+10:00
3        2022-08-01 00:15:00+10:00
4        2022-08-01 00:20:00+10:00
                   ...
20143    2022-10-09 23:35:00+11:00
20144    2022-10-09 23:40:00+11:00
20145    2022-10-09 23:45:00+11:00
20146    2022-10-09 23:50:00+11:00
20147    2022-10-09 23:55:00+11:00
Name: Datetime, Length: 2993124, dtype: object

In [105]:
# print(df_DQN_concat.device_id)
# print(df_SAC_concat.device_id)

SAC_cumulative_reward =  df_SAC_concat.loc[:, ['Datetime', 'device_id',
                                               'cumulative_reward']].copy()

In [106]:
SAC_cumulative_reward

# pseudo
# split on device id
# get the sac cum reward and main df
# merge on timestamps
# save in a list
# pd concat at end

                        Datetime  device_id  cumulative_reward
0      2022-08-01 00:00:00+10:00          2          -0.000501
1      2022-08-01 00:05:00+10:00          2          -0.000501
2      2022-08-01 00:10:00+10:00          2          -0.001011
3      2022-08-01 00:15:00+10:00          2          -0.001530
4      2022-08-01 00:20:00+10:00          2          -0.001781
...                          ...        ...                ...
20406  2022-10-10 21:30:00+11:00        150         -17.247700
20407  2022-10-10 21:35:00+11:00        150         -17.251625
20408  2022-10-10 21:40:00+11:00        150         -17.256050
20409  2022-10-10 21:45:00+11:00        150         -17.260498
20410  2022-10-10 21:50:00+11:00        150         -17.263990

[3002537 rows x 3 columns]

In [136]:
current_dqn_df = df_DQN_concat_export[df_DQN_concat_export.device_id == 2]
current_sac_df = SAC_cumulative_reward[SAC_cumulative_reward.device_id == 2]

merged_df = current_dqn_df.merge(current_sac_df, on="Datetime")
merged_df.rename(columns={'cumulative_reward_x': 'cumulative_reward_dqn',
                          'cumulative_reward_y': 'cumulative_reward_sac'}, inplace=True)
merged_df

,index,Datetime,Timestamp,time_x,time_y,weekday,month_x,month_y,region_1,region_2,...,sq_cumulative_reward,sq_soc,sq_net,sq_updated_action,sq_bat_output,device_id_x,timestamp,day,device_id_y,cumulative_reward_sac
0,0,2022-08-01 00:00:00+10:00,1659276000,1.000000,0.000000,0.0,-0.5,-0.866025,0.0,0.0,...,-0.000501,1.000000,0.00305,0.000000,0.00000,2,2022-08-01 T10:00 Z,"(2022, 8, 1)",2,-0.000501
1,1,2022-08-01 00:05:00+10:00,1659276300,0.999762,0.021815,0.0,-0.5,-0.866025,0.0,0.0,...,-0.000501,0.999771,0.00000,-0.007296,-0.00304,2,2022-08-01 T10:05 Z,"(2022, 8, 1)",2,-0.000501
2,2,2022-08-01 00:10:00+10:00,1659276600,0.999048,0.043619,0.0,-0.5,-0.866025,0.0,0.0,...,-0.000501,0.999537,0.00000,-0.007464,-0.00311,2,2022-08-01 T10:10 Z,"(2022, 8, 1)",2,-0.001011
3,3,2022-08-01 00:15:00+10:00,1659276900,0.997859,0.065403,0.0,-0.5,-0.866025,0.0,0.0,...,-0.000501,0.999299,0.00000,-0.007584,-0.00316,2,2022-08-01 T10:15 Z,"(2022, 8, 1)",2,-0.001530
4,4,2022-08-01 00:20:00+10:00,1659277200,0.996195,0.087156,0.0,-0.5,-0.866025,0.0,0.0,...,-0.000501,0.999069,0.00000,-0.007320,-0.00305,2,2022-08-01 T10:20 Z,"(2022, 8, 1)",2,-0.001781
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19279,19279,2022-10-06 23:35:00+11:00,1665059700,0.994056,-0.108867,0.0,0.5,-0.866025,0.0,0.0,...,5.932423,0.000000,0.00334,0.000000,0.00000,2,2022-10-07 T08:35 Z,"(2022, 10, 6)",2,-125.312687
19280,19280,2022-10-06 23:40:00+11:00,1665060000,0.996195,-0.087156,0.0,0.5,-0.866025,0.0,0.0,...,5.931894,0.000000,0.00322,0.000000,0.00000,2,2022-10-07 T08:40 Z,"(2022, 10, 6)",2,-125.312952
19281,19281,2022-10-06 23:45:00+11:00,1665060300,0.997859,-0.065403,0.0,0.5,-0.866025,0.0,0.0,...,5.931362,0.000000,0.00324,0.000000,0.00000,2,2022-10-07 T08:45 Z,"(2022, 10, 6)",2,-125.313218
19282,19282,2022-10-06 23:50:00+11:00,1665060600,0.999048,-0.043619,0.0,0.5,-0.866025,0.0,0.0,...,5.930848,0.000000,0.00313,0.000000,0.00000,2,2022-10-07 T08:50 Z,"(2022, 10, 6)",2,-125.313475
19283,19283,2022-10-06 23:55:00+11:00,1665060900,0.999762,-0.021815,0.0,0.5,-0.866025,0.0,0.0,...,5.930336,0.000000,0.00312,0.000000,0.00000,2,2022-10-07 T08:55 Z,"(2022, 10, 6)",2,-125.313731

In [137]:
both_reward_algos_list = []
for device_id in SAC_cumulative_reward.device_id.unique():
    current_dqn_df = df_DQN_concat_export[df_DQN_concat_export.device_id == device_id]
    current_sac_df = SAC_cumulative_reward[SAC_cumulative_reward.device_id == device_id]
    
    merged_df = current_dqn_df.merge(current_sac_df, on="Datetime")
    merged_df.rename(columns={'cumulative_reward_y': 'cumulative_reward_sac'}, inplace=True)
    
    both_reward_algos_list.append(merged_df)

In [162]:
pd.to_datetime(both_reward_algos_list[0].Datetime)

0        2022-08-01 00:00:00+10:00
1        2022-08-01 00:05:00+10:00
2        2022-08-01 00:10:00+10:00
3        2022-08-01 00:15:00+10:00
4        2022-08-01 00:20:00+10:00
                   ...
19279    2022-10-06 23:35:00+11:00
19280    2022-10-06 23:40:00+11:00
19281    2022-10-06 23:45:00+11:00
19282    2022-10-06 23:50:00+11:00
19283    2022-10-06 23:55:00+11:00
Name: Datetime, Length: 19284, dtype: object

In [139]:
df_DQN_SAC_merge = pd.concat(both_reward_algos_list)

In [145]:
df_DQN_SAC_merge

,Datetime,Timestamp,time_x,time_y,weekday,month_x,month_y,region_1,region_2,region_3,...,sq_cumulative_reward,sq_soc,sq_net,sq_updated_action,sq_bat_output,device_id_x,timestamp,day,device_id_y,cumulative_reward_sac
0,2022-08-01 00:00:00+10:00,1659276000,1.000000,0.000000,0.0,-0.5,-0.866025,0.0,0.0,0.0,...,-0.000501,1.000000,0.00305,0.000000,0.00000,2,2022-08-01 T10:00 Z,"(2022, 8, 1)",2,-0.000501
1,2022-08-01 00:05:00+10:00,1659276300,0.999762,0.021815,0.0,-0.5,-0.866025,0.0,0.0,0.0,...,-0.000501,0.999771,0.00000,-0.007296,-0.00304,2,2022-08-01 T10:05 Z,"(2022, 8, 1)",2,-0.000501
2,2022-08-01 00:10:00+10:00,1659276600,0.999048,0.043619,0.0,-0.5,-0.866025,0.0,0.0,0.0,...,-0.000501,0.999537,0.00000,-0.007464,-0.00311,2,2022-08-01 T10:10 Z,"(2022, 8, 1)",2,-0.001011
3,2022-08-01 00:15:00+10:00,1659276900,0.997859,0.065403,0.0,-0.5,-0.866025,0.0,0.0,0.0,...,-0.000501,0.999299,0.00000,-0.007584,-0.00316,2,2022-08-01 T10:15 Z,"(2022, 8, 1)",2,-0.001530
4,2022-08-01 00:20:00+10:00,1659277200,0.996195,0.087156,0.0,-0.5,-0.866025,0.0,0.0,0.0,...,-0.000501,0.999069,0.00000,-0.007320,-0.00305,2,2022-08-01 T10:20 Z,"(2022, 8, 1)",2,-0.001781
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20143,2022-10-09 23:35:00+11:00,1665318900,0.994056,-0.108867,1.0,0.5,-0.866025,0.0,0.0,0.0,...,44.072884,0.879477,0.00000,-0.014424,-0.00601,150,2022-10-10 T08:35 Z,"(2022, 10, 9)",150,-17.620349
20144,2022-10-09 23:40:00+11:00,1665319200,0.996195,-0.087156,1.0,0.5,-0.866025,0.0,0.0,0.0,...,44.072884,0.878712,0.00000,-0.024384,-0.01016,150,2022-10-10 T08:40 Z,"(2022, 10, 9)",150,-17.622017
20145,2022-10-09 23:45:00+11:00,1665319500,0.997859,-0.065403,1.0,0.5,-0.866025,0.0,0.0,0.0,...,44.072884,0.877738,0.00000,-0.031032,-0.01293,150,2022-10-10 T08:45 Z,"(2022, 10, 9)",150,-17.624140
20146,2022-10-09 23:50:00+11:00,1665319800,0.999048,-0.043619,1.0,0.5,-0.866025,0.0,0.0,0.0,...,44.072884,0.877239,0.00000,-0.015912,-0.00663,150,2022-10-10 T08:50 Z,"(2022, 10, 9)",150,-17.625229
20147,2022-10-09 23:55:00+11:00,1665320100,0.999762,-0.021815,1.0,0.5,-0.866025,0.0,0.0,0.0,...,44.072884,0.876777,0.00000,-0.014712,-0.00613,150,2022-10-10 T08:55 Z,"(2022, 10, 9)",150,-17.626235

In [86]:
# df_DQN_SAC_merge = pd.merge(df_DQN_concat, SAC_cumulative_reward, how = 'left',
#         left_on=['device_id', 'Datetime', 'Timestamp'], 
#          right_on=['device_id', 'Datetime', 'Timestamp'])

# df_DQN_SAC_merge = pd.merge(df_DQN_concat_export, SAC_cumulative_reward, how = 'left',
#         left_on=['device_id', 'Datetime', 'Timestamp'], 
#          right_on=['device_id', 'Datetime', 'Timestamp'])

In [169]:
df_DQN_SAC_merge

,Datetime,Timestamp,time_x,time_y,weekday,month_x,month_y,region_1,region_2,region_3,...,sq_cumulative_reward,sq_soc,sq_net,sq_updated_action,sq_bat_output,device_id_x,timestamp,day,device_id_y,cumulative_reward_sac
0,2022-08-01 00:00:00+10:00,1659276000,1.000000,0.000000,0.0,-0.5,-0.866025,0.0,0.0,0.0,...,-0.000501,1.000000,0.00305,0.000000,0.00000,2,2022-08-01 T10:00 Z,"(2022, 8, 1)",2,-0.000501
1,2022-08-01 00:05:00+10:00,1659276300,0.999762,0.021815,0.0,-0.5,-0.866025,0.0,0.0,0.0,...,-0.000501,0.999771,0.00000,-0.007296,-0.00304,2,2022-08-01 T10:05 Z,"(2022, 8, 1)",2,-0.000501
2,2022-08-01 00:10:00+10:00,1659276600,0.999048,0.043619,0.0,-0.5,-0.866025,0.0,0.0,0.0,...,-0.000501,0.999537,0.00000,-0.007464,-0.00311,2,2022-08-01 T10:10 Z,"(2022, 8, 1)",2,-0.001011
3,2022-08-01 00:15:00+10:00,1659276900,0.997859,0.065403,0.0,-0.5,-0.866025,0.0,0.0,0.0,...,-0.000501,0.999299,0.00000,-0.007584,-0.00316,2,2022-08-01 T10:15 Z,"(2022, 8, 1)",2,-0.001530
4,2022-08-01 00:20:00+10:00,1659277200,0.996195,0.087156,0.0,-0.5,-0.866025,0.0,0.0,0.0,...,-0.000501,0.999069,0.00000,-0.007320,-0.00305,2,2022-08-01 T10:20 Z,"(2022, 8, 1)",2,-0.001781
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20143,2022-10-09 23:35:00+11:00,1665318900,0.994056,-0.108867,1.0,0.5,-0.866025,0.0,0.0,0.0,...,44.072884,0.879477,0.00000,-0.014424,-0.00601,150,2022-10-10 T08:35 Z,"(2022, 10, 9)",150,-17.620349
20144,2022-10-09 23:40:00+11:00,1665319200,0.996195,-0.087156,1.0,0.5,-0.866025,0.0,0.0,0.0,...,44.072884,0.878712,0.00000,-0.024384,-0.01016,150,2022-10-10 T08:40 Z,"(2022, 10, 9)",150,-17.622017
20145,2022-10-09 23:45:00+11:00,1665319500,0.997859,-0.065403,1.0,0.5,-0.866025,0.0,0.0,0.0,...,44.072884,0.877738,0.00000,-0.031032,-0.01293,150,2022-10-10 T08:45 Z,"(2022, 10, 9)",150,-17.624140
20146,2022-10-09 23:50:00+11:00,1665319800,0.999048,-0.043619,1.0,0.5,-0.866025,0.0,0.0,0.0,...,44.072884,0.877239,0.00000,-0.015912,-0.00663,150,2022-10-10 T08:50 Z,"(2022, 10, 9)",150,-17.625229
20147,2022-10-09 23:55:00+11:00,1665320100,0.999762,-0.021815,1.0,0.5,-0.866025,0.0,0.0,0.0,...,44.072884,0.876777,0.00000,-0.014712,-0.00613,150,2022-10-10 T08:55 Z,"(2022, 10, 9)",150,-17.626235

In [141]:
df_DQN_SAC_merge.drop('index', axis=1, inplace=True)
df_DQN_SAC_merge.columns

Index(['Datetime', 'Timestamp', 'time_x', 'time_y', 'weekday', 'month_x',
       'month_y', 'region_1', 'region_2', 'region_3', 'solar', 'loads',
       'import_tariff', 'export_tariff', 'max_d', 'max_c', 'soc', 'reward',
       'net', 'action', 'updated_action', 'bat_output', 'tick', 'episode_tick',
       'global_tick', 'env_epochs', 'cumulative_reward_x',
       'no_solar_cumulative_reward', 'no_battery_cumulative_reward',
       'sq_cumulative_reward', 'sq_soc', 'sq_net', 'sq_updated_action',
       'sq_bat_output', 'device_id_x', 'timestamp', 'day', 'device_id_y',
       'cumulative_reward_sac'],
      dtype='object')

In [75]:
# Rename:
# cumulative_reward_x: DQN
# cumulative_reward_y: SAC
# df_DQN_SAC_merge.rename(columns={'cumulative_reward_x': 'cumulative_reward_DQN',
#                                 'cumulative_reward_y': 'cumulative_reward_SAC'}, inplace=True)

In [100]:
# n_nans = sum(df_DQN_SAC_merge.cumulative_reward_SAC.isna())
# total_length = len(df_DQN_SAC_merge.cumulative_reward_SAC)

# n_nans/total_length # ~2%

0.023982528526531217

In [144]:
df_DQN_SAC_merge.to_csv('data/2022-12-05-DQN_SAC_merged.csv')

In [107]:
df_DQN_concat_export.to_csv('data/2022-12-05_all_devices_for_tableau_DQN.csv')
df_SAC_concat_export.to_csv('data/2022-12-05_all_devices_for_tableau_SAC.csv')

In [163]:
# ... for export & easier manipulation in Tableau
# pd.to_csv(df_concat, 'all_devices_for_tableau.csv')

# df_concat_export.to_csv('data/2022-12-01_all_devices_for_tableau_test.csv')